<a href="https://colab.research.google.com/github/sabiipoks/blog-posts/blob/master/BreastTissue_Multiclass_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Multiclass Classification Model for Breast Tissue

Data Source: https://archive.ics.uci.edu/ml/datasets/Breast+Tissue

Dua, D. and Graff, C. (2019). UCI Machine Learning Repository [http://archive.ics.uci.edu/ml]. Irvine, CA: University of California, School of Information and Computer Science.

In [1]:
from google.colab import files
uploaded = files.upload()

Saving BreastTissue.csv to BreastTissue.csv

In [2]:
# import pandas
import pandas as pd

# read the dataset
df = pd.read_csv('BreastTissue.csv')

df.head()

   Case # Class          I0  ...     Max IP          DR           P
0       1   car  524.794072  ...  60.204880  220.737212  556.828334
1       2   car  330.000000  ...  69.717361   99.084964  400.225776
2       3   car  551.879287  ...  77.793297  253.785300  656.769449
3       4   car  380.000000  ...  88.758446  105.198568  493.701813
4       5   car  362.831266  ...  69.389389  103.866552  424.796503

[5 rows x 11 columns]

In [3]:
print(df.shape)

num_of_classes = len(df.Class.unique())
print(num_of_classes)

df.describe()

(106, 11)
6

           Case #           I0       PA500  ...      Max IP          DR            P
count  106.000000   106.000000  106.000000  ...  106.000000  106.000000   106.000000
mean    53.500000   784.251618    0.120133  ...   75.381258  166.710575   810.638127
std     30.743563   753.950075    0.068596  ...   81.345838  181.309580   763.019135
min      1.000000   103.000000    0.012392  ...    7.968783   -9.257696   124.978561
25%     27.250000   250.000000    0.067413  ...   26.893773   41.781258   270.215238
50%     53.500000   384.936489    0.105418  ...   44.216040   97.832557   454.108153
75%     79.750000  1487.989626    0.169602  ...   83.671755  232.990070  1301.559438
max    106.000000  2800.000000    0.358316  ...  436.099640  977.552367  2896.582483

[8 rows x 10 columns]

In [4]:
# split train input and output data
X = df.drop(axis=0, columns=['Class', 'Case #'])
Y = df.Class

#Print the shape of X and Y
print(X.shape)
print(Y.shape)

(106, 9)
(106,)

In [0]:
from sklearn.model_selection import train_test_split

# Split into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.33, random_state=42)

In [9]:
from xgboost import XGBClassifier
from sklearn.metrics import roc_auc_score
from sklearn import preprocessing

xgb = XGBClassifier(booster='gbtree', objective='multi:softprob', random_state=42, eval_metric="auc", num_class=num_of_classes)

xgb.fit(X_train,y_train)

pred = xgb.predict(X_test)
val = xgb.predict(X_test)

lb = preprocessing.LabelBinarizer()
lb.fit(y_test)

y_test_lb = lb.transform(y_test)
val_lb = lb.transform(val)

roc_auc_score(y_test_lb, val_lb, average='macro')

0.835727969348659

In [10]:
output = pd.DataFrame()
output['Expected Output'] = y_test
output['Predicted Output'] = val
output.tail()

   Expected Output Predicted Output
36             mas              fad
88             adi              adi
9              car              car
53             mas              fad
95             adi              adi